button.button,
a.button,
input[type="submit"].button,
button[type="submit"].button {
    @extend .btn;
    @extend .btn-primary;
}

input[type="submit"],
button[type="submit"] {
    &.submitting {
        @extend .disabled;
    }
}
