.site-body {
    padding: 2rem 0;

    .page-template-template-full-width &,
    .page-template-template-image-header &,
    .page-template-template-homepage & {
        padding-top: 0;
        padding-bottom: 0;
    }

    .how-we-work-container {
        background: linear-gradient(
            to bottom,
            #fff 0%,
            #2d85551c 20%,
            #20714430 50%,
            #2d85551c 80%,
            #fff 100%
        );
    }
}
