.site-title {
    padding: 2rem 0;

    h1 {
        text-align: center;
        font-size: 1.8rem;
        color: $dark;
        margin: 0;
    }

    .page-template-template-full-width & {
        padding-bottom: 0;
    }

    .page-template-template-homepage & {
        @include visually-hidden;
    }
}
