.site-title {
    background-color: $gray-200;
    padding: 1rem 0;

    h1 {
        text-align: center;
        font-size: 2rem;
        color: $black;
        margin: 0;
    }

    .page-template-template-homepage & {
        @include visually-hidden;
    }
}
