// Bootstrap dropdowns vars
//
// Dropdown menu container and contents.
$dropdown-min-width: 8rem;
$dropdown-font-size: 0.8rem;
$dropdown-link-color: $black;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $secondary;
$dropdown-link-active-color: $white;
$dropdown-link-active-bg: $secondary;
