// Bootstrap buttons + forms vars
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-font-family: "Titillium Web", sans-serif;

// Bootstrap forms vars
$input-border-color: $gray-900;
