// Bootstrap forms vars
$input-border-color: $gray-900;

// Bootstrap buttons + forms vars
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-x: 1rem;
$input-btn-padding-y: 0.375rem;
$input-btn-font-family: "Inter", sans-serif;
