// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;

// Custom grid vars
$grid-gap: math.div($grid-gutter-width, 2);
