// Bootstrap navbar vars
$navbar-light-color: $black;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $secondary;
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.25rem;
$navbar-light-toggler-icon-bg: none;
