// Bootstrap typography vars
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base: "Inter", sans-serif;
$font-size-base: 0.85rem;
$font-weight-base: 400;
$headings-font-family: "Inter", sans-serif;
