@mixin posts-grid {
    display: grid;
    gap: $grid-gap;
    grid-template-columns: repeat(4, 1fr);

    @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    .with-sidebar & {
        grid-template-columns: repeat(3, 1fr);

        @include media-breakpoint-down(lg) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @content;
}
